footer{
    background: #0D1B2A;
    padding: 2em 2em 2em 2em;
    margin:  auto;
    text-align: center;
    position: relative;
    width: 100vw;
}
h5{
    margin: 0;
}
.footer__container {
    display: flex;
    justify-content: space-around;
}
.footer__container ul{
    text-align: left;
}
.footer__border{
    background-color: #fff;
    border: 1px solid #fff;
    
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer__social{
    margin-top: 15px;
}
.copyright{
    color: #fff;
    margin:  0px;
    
}
.footer__icon{
    margin-left: 5px;
}


footer button:hover{
    cursor: pointer;
    
}
.footer__list{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 35%;
}