.projects{
    margin-bottom: 0px;
    
    
    background-color: #F7F7F7;
    
    background-image: url("https://transparenttextures.com/patterns/black-thread-light.png");  

}
.projects__container{
display: flex;
flex-direction: row;
overflow: scroll;

}
.projects__container::-webkit-scrollbar{
    display: none;
}
.projects__container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
h2{
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 100px;
}

@media only screen and (min-width: 800px){
    .projects__container{
        display:-moz-grid-line;
        grid-template-columns:40% auto ;
    }
}
@media only screen and (max-width:550px){
    h2{
        font-size: x-large;
        font-weight: 400;
        margin-bottom: 50px;
    }
    .projects__container{
        display:flex;
        flex-direction: column;
    }
}