
.skills{
  background: #0D1B2A;
  position: relative;
  height: auto;

}
.skills-list{
  display: flex;
  justify-content: space-between;
}
.container {
	 background: linear-gradient(100deg, #402, #006);
	 padding: 2em;
	 display: flex;
	
	 background-color: #fff;

}
.skill-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 .group {
	 width: 100%;
	 max-width: 20em;
	 display: flex;
	 flex-direction: column;
   align-items: flex-start;
	
}

 .group-label{
	 padding: 0 0.5em;
	 margin-bottom: 0.5em;
	 text-transform: uppercase;
	 font-size: 1em;
	 letter-spacing: 0.1em;
	 color: #ccd;
	 color: rgba(255, 220, 255, 0.6);
	 cursor: pointer;
	 align-self: center;
}
.skill-description{
  font-size: 18px;
}
 p{
  line-height: 20px;
  padding-top: 5px;
}
h4{
  margin: 0;
  margin-top: 5px;
}
 .skill-list {
	 color: #fff;
	 font-size: 1.25rem;
	 line-height: 1;
	 border-style: none;
	 outline: none;
	 height:450px;
	 width:300px;
	 padding: 0.8em 1em;
	 border: 0.25em solid transparent;
	 background-image: linear-gradient(#000, #000), linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
	 background-origin: border-box;
	 background-clip: padding-box, border-box;
	 border-radius: 1.8em;
	 background-size: 200% 100%;
	 transition: background-position 0.8s ease-out;
}
 .skill-list:hover {
	 background-position: 100% 0;
}
 .skill-list:focus {
	 outline: 2px dashed #ad2b89;
	 outline-offset: 0.5em;
}
@media (max-width:1150px) {
	.skills-list{
		flex-direction: column;
	}
	label{
		margin-left: 10%;
	}
	.skill-list{
		flex-direction: row;
		width: fit-content;
		height: fit-content;
		justify-content: space-between;
		margin-left: 20%;
	}
	.skill-description{
		padding: 10%;
		width: 250px;
	}
}
